body {
    background-color: rgb(23, 86, 65);
    color: white;
}

h2 {
    color: rgb(117, 197, 6);
}

.texto-inglês {
    font-style: italic;
}

#nome-usuario {
    font-weight: bold;
}